#!/usr/bin/make -f

# Copyright 2009, Noah Slater <nslater@tumbolia.org>

# Copying and distribution of this file, with or without modification, are
# permitted in any medium without royalty provided the copyright notice and this
# notice are preserved.

export PYBUILD_NAME=werkzeug
export PYBUILD_TEST_PYTEST=1
export PYBUILD_TEST_ARGS="-k-test_windows_get_args_for_reloading"

%:
	dh $@ --with python3 --buildsystem pybuild

override_dh_auto_clean:
	rm -rf build Werkzeug.egg-info/
	#find $(CURDIR) \( -name '\._*' -o -name '\.DS_Store' \) -delete
	dh_auto_clean

override_dh_auto_test:
	set -ex; \
		memcached -p 11211 -l 127.0.0.1 & \
		trap "kill $$! || true" EXIT; \
		LC_ALL=C.UTF-8 dh_auto_test; \

override_dh_fixperms:
	find debian/ -name '*\.png' -exec chmod -x '{}' \;
	dh_fixperms
